root = true


# Always use UNIX style newlines. Also UTF8
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

# 4 spaces instead of tabs.
[*.py]
indent_style = space
indent_size = 4

# 2 spaces.
[*.yaml, *.yml]
indent_style = space
indent_size = 2
